.product-section{
    background-color: #f8f9fe;
    padding: 10px;
    height: calc(100% - 100px);
}

.product-header{
    padding: 25px;
    display: flex;
    border-radius: 8px;
    background-color: white;
}
.product-title{
    flex: 1;
    margin-left: 30px;
}

.product-title h1{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 10px;
}
.product-title span{
    color: #7b7b7b;
}
.arrowIconLeft {
    height: 20%;
    font-size: 15px;
    padding: 18px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dedede;
}
.product-path{
    display: flex;
    color: #939395;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    align-items: top;
    gap: 7px;
}

.product-details {
    height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.product-item{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.product-item img{
    padding: 20px;
    height: 100px;
    width: 120px;
    margin: 25px;
}

.product-name {
    margin-bottom: 15px;
    color: #040404;
    font-weight: 500;
    letter-spacing: 0px;
}

.product-price {
    color: #ef5756;
    font-weight: 500;
}

.my-order-list{
    position: fixed;
     width: 320px;
    bottom: 0px;
    left: calc(100% - 335px);
    background-color: white;
    border-radius: 10px;
    height: calc(100% - 100px);
    transition: 0.5s;
    box-shadow: 0 0 50px #ccc;
}

.my-order-list h2 {
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* MOBILE CSS */
@media only screen and (max-width: 600px) {
    .my-order-list{
        bottom: 12%;
    }
    .product-header {
        padding: 10px;
    }
    .arrowIconLeft{
        font-size: 10px;
        padding: 15px;
    }
    .product-title h1{
        font-size: 25px;
        margin-bottom: 3px;
    }
    .product-title span{
        font-size: 12px;
    }
    .product-path{font-size: 8px;}
    .product-details{
        grid-template-columns: repeat(2, 1fr);
        height: calc(100vh - 340px);
        padding: 10px 0;
    }
    .product-item img {
        margin: 0;
    }
}